.App {
  text-align: left;
  background-color: grey;


}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: smaller;
  color: white;
}
form{
  
  height: 200px;
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 20px;
  
}


h1{
  text-align: left;
}

.delbtn{
  width: 70px;
}



.formbutton{
  width: 28%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.reviewscontainer{
  min-width: 100vh;
  min-height: 12em;
  background-color: whitesmoke;
  float: right;
  min-width: 60%;
  position: absolute;
  top: 170px;
  right: 0px;
  margin-bottom: 20px;
  
}
.btnreviews{
  height: 30px;
  margin-top: 10px;
  

}
/*.restaurants{
  width: 35%;
  min-height: 100px;
  background-color: whitesmoke;
  margin-top: 20px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  
}*/
.resbtn{
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
}
.updates{
  right: 0px;
  background-color: aqua;

}
span{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}





